{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/projects.css" />
<header id="home" class="home column">
<div class="column padding-right-64">
    <h1 class="jumbo float-center ">Toyota Hacking</h1>
    <p class="project-description-text" style="display: inline-block">
    At DEKA, I gained real-world experience as part of a team of approximately 80 engineers over two summer internships working on the same medical-device. In my first summer as a manufacturing engineer, I designed assembly fixutres and updated drawings with GD&T ensure mass-manufacturibility. In my next summer as a Mechanical Engineer, I designed a spring integral to the function of the device. My work on this device is under an NDA (all photos are stock images).
    </p>
</div>

</header>
<script src="/static/js/projects.js"></script>
{% endblock %}