{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/blog.css" />
<header id="home" class="home column">
<div class="blog-description padding-top-64">
    <h1 class="jumbo float-center ">Toyota Hacking</h1>
    <p class="blog-text">
        &emsp;I'm the proud owner of a 2009 Toyota Corolla that has over a quarter-million miles, and climbing (as of writing this in 2024).
        I have spent a considerable amount of time tinkering with it, learning about its systems, and making modifications.
    </p>
</div>

</header>
<script src="/static/js/projects.js"></script>
{% endblock %}