{% extends 'base.html' %} {% block content %}
{% import "slides.jinja" as slides%}
<link rel="stylesheet" href="/static/css/projects.css" />
<header id="home" class="home column">
  <div class="project-description padding-top-64">
    <div class="project-column column padding-right-64">
      <h1 class="jumbo">Deka</h1>
      <p class="project-header large" style="display: inline; padding-top: 0px">
        <b><b>Role:</b></b
        >&emsp;Mechanical Engineer and Manufacturing Engineer Intern
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Type:</b></b
        >&ensp;Internships
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Time:</b></b
        >&ensp;June 2020 - August 2020 &<br>June 2021 - August 2021
      </p>
    </div>
    <div class="project-column" style="align-items: flex-end">
      <p class="project-description-text" style="display: inline-block">
        At DEKA, I gained real-world experience as part of a team of approximately 80 engineers over two summer internships working on the same medical-device. In my first summer as a manufacturing engineer, I designed assembly fixutres and updated drawings with GD&T ensure mass-manufacturibility. In my next summer as a Mechanical Engineer, I designed a spring integral to the function of the device. My work on this device is under an NDA (all photos are stock images).
      </p>
    </div>
  </div>

{{ slides.slides([
    {
      'title': 'Torsion Spring Design',
      'description': 'As part of my torsion spring design, I created a tool that uses Newton\'s Method, coded in VBA as an Excel plug-in, to design springs by the desired force applied',
      'image_path': '/static/images/Deka/torsion_spring.png',
    },
    {
      'title': '3D Tolerance Stackups',
      'description': 'I learned CETOL 6σ to do complex 3-Dimensional tolerance stackups on over 1000 part assemblies',
      'image_path': '/static/images/Deka/Cetol.png'
    }
  ]) }}
</header>
<script src="/static/js/projects.js"></script>
{% endblock %}