{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/slidshow.css" />
<header id="home" class="home column project-description">
  <div class="row padding-top-64">
    <div class="project-column column padding-right-64">
      <h1 class="jumbo">Deka</h1>
      <p class="project-header large" style="display: inline; padding-top: 0px">
        <b><b>Role:</b></b
        >&emsp;Mechanical Engineer and Manufacturing Engineer Intern
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Type:</b></b
        >&ensp;Internships
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Time:</b></b
        >&ensp;June 2020 - August 2020 &<br>June 2021 - August 2021
      </p>
    </div>
    <div class="project-column" style="align-items: flex-end">
      <p class="project-description-text" style="display: inline-block">
        At DEKA, I gained real-world experience as part of a team of approximately 80 engineers over two summer internships working on the same medical-device. In my first summer as a manufacturing engineer, I designed assembly fixutres and updated drawings with GD&T ensure mass-manufacturibility. In my next summer as a Mechanical Engineer, I designed a spring integral to the function of the device. My work on this device is under an NDA (all photos are stock images).
      </p>
    </div>
  </div>

  {% macro slides(imgs) -%}

  <div class="project-slideshow column padding-top-64">
    <div class="wrapper-center row" style="justify-content: space-evenly">
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <div class="slideshow-container round-xxlarge column">
        <!-- {% for img in imgs %} -->
        
        <div class="img-slides row">
            {% if img|length > 2 %}
            <div class="img-container embedded-video zoomin" style="order: 1" onclick="lightbox_open({{img[2]}})">
                <img src="{{img[0]}}" />
                <div class="play-button">
                    <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px"
                    viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                    <path class="stroke-solid" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                      C97.3,23.7,75.7,2.3,49.9,2.5"/>
                    <path class="stroke-dotted" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                      C97.3,23.7,75.7,2.3,49.9,2.5"/>
                    <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
                    </svg>
                </div>
            </div>
            {% else %}
            <div class="img-container" style="order: 1">
                <img src="{{img[0]}}" />
                <div style="position:relative">
                  stock-photo
                </div>
            </div>
            {% endif %}
            <h3 class="text xlarge">{{img[1]}}</h3> 
        </div>
        <!-- {% endfor %} -->
      </div>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <div class="dot-container padding-top-32">
      {% for i in range(1, imgs|length +1) %}
      <span class="dot" onclick="currentSlide({{i}})"></span>
      {% endfor %}
    </div>
  </div>

  {% endmacro %} {{ slides([
    ('/static/images/Deka/Cetol.png','I learned CETOL 6σ to do complex 3-Dimensional tolerance stackups on over 1000 part assemblies'),
    ('/static/images/Deka/torsion_spring.png','As part of my spring design, I created a tool that uses Newton\'s Method, coded in VBA as an Excel plug-in, to design springs by the desired force applied')
    ]) }}
</header>
<script src="/static/js/projects.js"></script>
{% endblock %}


<!-- <div id="Face_Tracking"
style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/742327612?h=eadf6c018f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Face_Tracking"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->