{% extends 'base.html' %} {% block content %}
{% import "slides.jinja" as slides%}
<link rel="stylesheet" href="/static/css/projects.css" />
<header id="home" class="home column">
  <div class="project-description padding-top-64">
    <div class="project-column column padding-right-64">
      <h1 class="jumbo">Dove</h1>
      <p class="project-header large" style="display: inline; padding-top: 0px">
        <b><b>Role:</b></b
        >&emsp;PCB design and fabrication, mechanical design and prototyping,
        embedded software engineer, human-factors interviewer,
        project-presentations/fundraising.
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Type:</b></b
        >&ensp;Start-up
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Time:</b></b
        >&ensp;January 2021 - September 2022
      </p>
    </div>
    <div class="project-column" style="align-items:flex-end">
      <p class="project-description-text">
        Dove is a startup I worked on during my time at the University of Pennsylvania.
        It has spun off as a full company, Altrumed. Altrumed is creating the first
        wearable autoinjector capable of sensing an opioid overdose and
        automatically injecting naloxone. The device senses an opioid overdose
        by measuring blood oxygen saturation (SpO2) and accelerometer values.
        When an overdose is sensed, it alerts the user before injecting
        life-saving naloxone.
      </p>
    </div>
  </div>

 {{ slides.slides([
  ('/static/images/Dove/Injector.gif', 'Subcutaneous injector'),
  ('/static/images/Dove/InjectorCad.jpg', 'Solidworks renders of injector'),
  ('/static/images/Dove/Finger-Sensor.jpg', 'Finger-based sensor'),
  ('/static/images/Dove/Arm-Sensor-Small.jpg', 'Adhesive-based shoulder sensor'),
  ('/static/images/Dove/PCBs.jpg', 'Sensor PCBs for Clinical Study'),
  ('/static/images/Dove/PCB-Prototypes.jpg', 'PCB Iteration'),
  ('/static/images/Dove/PCB-Closeup.jpg', 'PCB Closeup'),
  ('/static/images/Dove/LaserCut-Adhesives.jpg', 'Custom laser cut adhesives &
  3D printed housings') ]) }}
</header>
<script src="/static/js/projects.js"></script>
{% endblock %}
