{% extends 'base.html' %} {% block content %}
{% import "slides.jinja" as slides%}
<link rel="stylesheet" href="/static/css/projects.css" />
<header id="home" class="home column">
  <div class="project-description padding-top-64">
    <div class="project-column column padding-right-64">
      <h1 class="jumbo">Ollie</h1>
      <p class="project-header large" style="display: inline; padding-top: 0px">
        <b><b>Role:</b></b
        >&emsp;Created everything, from circuits, to
        <a
          href="https://github.com/elidonner/OlliePuppet"
          class="purple-button-underline-animation"
          style="display: inline-flex; padding: 0; height: auto"
        >
          <b class="text-purple large">software,</b>
        </a>
        to mechanical design.
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Type:</b></b
        >&ensp;Commision
      </p>
      <p class="project-header large" style="display: inline">
        <b><b>Time:</b></b
        >&ensp;March 2022 - September 2022
      </p>
    </div>
    <div class="project-column" style="align-items: flex-end">
      <p class="project-description-text" style="display: inline-block">
        Ollie is an animatronic puppet I built for local philly artist
        <a
          href="https://fabricworkshopandmuseum.org/exhibition/jayson-musson-his-history-of-art"
          class="purple-button-underline-animation"
          style="display: inline-flex; padding: 0; height: auto"
        >
          <b class="text-purple large">Jayson Musson,</b>
        </a>
        Ollie is capable of person detection, using a TensorFlow Lite ML model
        tailored specifically for the
        <a
          href="https://github.com/Qengineering/TensorFlow_Lite-Tracking-RPi_64-bit"
          class="purple-button-underline-animation"
          style="display: inline-flex; padding: 0; height: auto"
        >
          <b class="text-purple large">Raspberry Pi.</b>
        </a>
        He follows museum visitors and addresses them with unique voice memos
        based on the number of visitors. Ollie has six servo motors, 4
        microcontrollers, a custom circuit for real time lip-syncing based on
        the audio signal, and a media player for storing the voice memos. He was fabircated using 3D-printing, laser-cutting, CNC machining, and of course some minor jerry-rigging.
      </p>
    </div>
  </div>

  {{ slides.slides([
    {
      'title': 'Opening Night',
      'description': 'Ollie and me on opening night.',
      'image_path': '/static/images/Ollie/Ollie_and_me.jpg'
    },
    {
      'title': 'Ollie\'s "Brain"',
      'description': 'Ollie\'s brain consisted of a Raspberry Pi 4, 2 esp32s, an Arduino Mega, and an audio playback device.<br>
      The Raspbbery Pi ran TensorFlow Lite for people detection. It sent the number of people detected to the Arduino Mega via serial and moved a servo which controlled Ollie\'s body so he\'d follow guests in realtime.<br>
      A kalman filter was used to keep track of people in the frame to provide smooth movement and funny quips depending on when people entered or left the frame.<br>
      One ESP32 extracted the audio wave envelope from the raw output of an analog butterworth op amp filter. I used i2s to get a high speed DMA analog input on the ESP32. This ESP32 then drove a servo which controlled the mouth for in-time lip syncing.<br>
      The other esp32 controlled Ollie\'s head servos, and read recorded motion animations from an SD card.<br>
      Finally, the Arduino Mega coordinated all the devices, triggering audio playback and sending commands to the other microcontrollers based on the number of people detected by the Raspberry Pi.',
      'image_path': '/static/images/Ollie/Brain.jpg'
    },
    {
      'title': 'Testing Ollie\'s face tracking, 90 FPS on a bare Raspberry Pi!',
      'image_path': '/static/images/Ollie/Face_Tracking.png',
      'video_id': 'Face_Tracking'
    },
    {
      'title': 'Under Ollie\'s fur',
      'image_path': '/static/images/Ollie/Inside_Ollie.png',
      'video_id': 'Inisde_Ollie'
    },
    {
      'title': 'Ollie tracking in his "living room"',
      'image_path': '/static/images/Ollie/Ollie_Tracking.png',
      'video_id': 'Ollie_Tracking'
    },
    {
      'title': 'Ollie on opening night',
      'image_path': '/static/images/Ollie/Opening_Night.png',
      'video_id': 'Opening_Night'
    },
    {
      'title': 'Using a PlayStation controller to record Ollie\'s movements to an SD Card',
      'image_path': '/static/images/Ollie/PS4.png',
      'video_id': 'PS4'
    }
  ]) }}
</header>

<!-- EMBEDDED VIDEOS START -->
{{slides.vimeoLightbox("Face_Tracking",
  "https://player.vimeo.com/video/742327612?h=eadf6c018f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
)}}
{{slides.vimeoLightbox("Inisde_Ollie",
  "https://player.vimeo.com/video/742327539?h=2f3ccb85ca&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
)}}
{{slides.vimeoLightbox("Ollie_Tracking",
  "https://player.vimeo.com/video/742327338?h=f5eec3012a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
)}}
{{slides.vimeoLightbox("Opening_Night",
  "https://player.vimeo.com/video/742327447?h=6f9d20f745&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
)}}
{{slides.vimeoLightbox("PS4",
  "https://player.vimeo.com/video/742327581?h=628aacc694&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
)}}
<!-- EMBEDDED VIDEOS END -->

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/static/js/projects.js"></script>
{% endblock %}