.blog-description {
    /* margin-top:var(--header-height) */
    flex-direction: column;
    font-weight: lighter;
}

.blog-text {
    font-size: large;
    height:auto;
    display: inline-block;
}

@media (max-width: 767px) {
.blog-description {
    align-items: center;
    padding-top:32px;
    text-align:center;
}}