html,
body,
section,
header,
div {
  font-family: "Noto Sans", sans-serif;
}


body {
  overflow: hidden;
}

#menu_btn,
#website_btn{
  padding:10px;
}

.one-pager {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  background-color: transparent;
}

#menu{
  justify-content: space-between;
}

.welcome_msg{
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  padding:0px 50px;
  left: 0;
  right: 0;
  padding: 12px 0px 12px 0px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
}

.overlay2 {
  display: flex;
  align-self: center;
  text-align: center;
  width: 60%;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  cursor: pointer;
  justify-content: center;
  background-color: var(--gray);
}


.overlaytop {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.overlaytop-content {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.overlaytop a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlaytop a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlaytop #closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.scoreboardTitle{
  padding:10px;
  height:10%;
  font-weight: 700;
  font-size: 37px;
  justify-content: center;
}

/*Create the scoreboard*/
#scoreboard {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.box{
  width: 40%;
  height:100%;
  align-items: center;
  justify-content: center;
}

.user{
  height: 80%;
  width: 50%;
  flex-direction: column;
  border: 1px solid var(--gray);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: var(--red);
}

.user.left{
  margin:30px 10px 0px 50px;
}

.user.right{
  margin:30px 50px 0px 10px;
}

.userName{
  font-size: 2rem;
  padding: 10px;
  justify-content:center;
  border-bottom: 1px solid var(--gray);
}

.points{
  justify-content:center;
  align-items: center;
  font-size: 2rem;
}

.button {
  height: 100%;
  width: 100%;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--purple);
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: var(--light-purple);
}

.button:active {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button.krypto{
  background-color: var(--red);
}


/*Create the target cell*/
#target-cell {
  width: 20%;
  justify-content: center;
  align-items: center;
}

/*Create the timer cell*/
#timer {
  width: 40%;
  justify-content: center;
  align-items: center;
}

#deal_cards {
  font-size: 3rem;
}

#actions {
  height: 100%;
  width: 100%;
  display: none;
}

.action_container{
  padding:10px;
  width: 100%;
}

.action{
  font-size: 3rem;
}

/*types of cards*/
#target {
  background-color: e4d440;
  justify-content: center;
  align-items: center;
}

.cardsContainer
{
  height: 100%;
  width: 100%;
}

.solutionCardsContainer{
  height:20%;
  padding:5px 50px;
  justify-content: center;
  align-items: center;
}

.cardContainer
{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.krypto_container{
  display: none;
  width:100%;
  font-size: 3rem;
}

.krypto_key{
  height: 100%;
  width: 100%;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  background-color: var(--red);
}

#difficulty_menu{
  justify-content: center;
  align-items: center;
}

#difficulty_container{
  display: flex;
  flex-direction: column;
  height:60%;
  width: 80%;
  border-radius: 0.5rem;
  justify-content:center;
  padding: 50px;
  background-color: var(--gray);
}


.difficulty{
  padding:10px 0px;
  justify-content: center;
  align-items:center;
}

.mode_container{
  padding:10px 0px;
  justify-content: center;
  align-items:center;
}

.mode_type{
  padding: 10px;
  font-size: calc(48px - 48px * var(--text-adjust));
  font-weight: bold;
}

.mode_description{
  padding: 10px;
  font-size: calc(24px - 24px * var(--text-adjust));
}


.card{
  height: 200px;
  width: 150px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  background-color: var(--yellow);
}

#solution {
  margin-top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
  padding:50px 0px;
  justify-content: center;
}

.solutionCard{
  height: 125px;
  width: 90px;
  margin: 0px 20px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  background-color: var(--yellow);
}

.solutionTitle{
  color: #f1f1f1;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  width:auto;
}

.operation{
  margin: 0px 60px;
  font-size:5em;
}

.solutionOperation{
  height: 80px;
  width: 80px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
}

.instructions {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: auto;
  height: 100%;
  overflow: visible;
}

#instructions {
  height: 50%;
  width: auto;
  border-radius: 50%;
  overflow: visible;
}

#instructions svg {
  display: flex;
  height: 100%;
  width: auto;
}

.disabled{
  cursor: not-allowed;
}


.selected{
  background-color: var(--green);
}

.invalid{
  background-color: red;
}

.correct{
  background-color: var(--green);
}

/* timer from css-tricks.com*/


/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 200px;
  width: 200px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  width: 200px;
  height: 200px;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.base-timer__path-remaining.green {
  color: var(--green);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}


/* POPUP for when krypto is called */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (max-height: 450px) {
  .overlaytop {overflow-y: auto;}
  .overlaytop a {font-size: 20px}
  .overlaytop .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}