.project-description {
  /* margin-top:var(--header-height) */
  flex-direction: row;
  font-weight: lighter;
}

.project-description a {
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--light-gray);
  display: block;
  transition: 0.3s; /* transition effect on hover color*/
}

.project-description a:hover,
.project-description a:focus {
  color: black;
}

.project-description-text {
  font-size: large;
  height:auto;
}

.project-header {
  padding: 6px 0px 0px 0px;
}

.project-column {
  width: 50%;
}

.project-slideshow {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  max-height: 40vh;
  height: 40vh;
  background-color: var(--light-purple);
  overflow: hidden;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-slides {
  display: none;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.img-container {
  height: 100%;
  max-width: 50%;
  width: auto;
  overflow: hidden;
  justify-content: center;
  background-color: transparent;
  order:1;
}

.img-container img {
  height: 100%;
  width: auto;
}

.embedded-video {
  cursor: pointer;
}

.video-popup {
  display: none;
  background-color:rgba(255,255,255,0.9);
  position: fixed;
  top:0;
  left:0;
  z-index: 5;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
}

.video-container {
  background-color: transparent;
  z-index: 5;
  height:90%;
  width:90%;
  justify-content: center;
  align-items: center;
}

.vimeo-video {
  height:90%;
  width:90%;
}

.close-btn {
  background-color: transparent;
  transition: color 0.5s ease;
  color: black;
  position: relative;
  font-weight: 300px;
  font-size: 50px;
  top:-45%;
  left:90%;
}

.close-btn:hover {
  cursor: pointer;
  transition: color 0.5s ease;
  color: var(--light-gray);
}

/* Caption text */
.text {
  padding: 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* The dots/bullets/indicators */
.dot-container {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* PLAY BUTTON */
.play-button {
  display:block;
  position:relative;
  left: -50%;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4,5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, 
              stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, 
              opacity 1s ease;
}

.icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}


.stroke-dotted-active {
  stroke-width: 4px;
  opacity: 1;
}
.stroke-solid-active {
  opacity: 0;
  stroke-dashoffset: 300;
}
.icon-active {
  transform: scale(1.05);
}

#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 767px) {
  .project-description {
    flex-direction: column;
    align-items: center;
    padding-top:32px;
    text-align:center;
  }
  .project-column {
    width:100%;
    padding: 0px 12px 12px 12px;
  }
  .project-slideshow {
    padding-top: 32px;
  }
  .slideshow-container {
    max-height: none;
    height:auto;
  }
  .img-slides {
    flex-direction: column;
  }
  .img-container {
    order: 0;
    width: 100%;
    max-height: 40vh;
    max-width: none;
    height:auto;
  }
  .img-slides img {
    width: 100%;
    height:auto;
  }
  .text {
    height:auto;
    width: 100%;
  }
}
