@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* margin stuff */
* {
  box-sizing: border-box;
}

/* Global Styles & Colors */
:root {
  /*Fonts and heights*/
  --default: hsl(0, 8%, 15%);
  --img-height: 500px;
  --background-color: hsl(0, 60%, 99%);
  --gray: #4a4e4d;
  --light-gray: #818181;
  --dark-gray: #616161;
  --dark_blue: #0e9aa7;
  --blue: #239fd4;
  --yellow: #f6cd61;
  --red: #fe8a71;
  --green: rgb(65, 184, 131);
  --header-height: 90px;
  --light-purple: #8788bcb0;
  --purple: #8788bc;
  --dark-purple: #696aab;
  --screen-height: 100vh;
  --text-adjust: 0;
}

html,
body,
section,
header,
div {
  scroll-behavior: smooth;
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: transparent;
  color: var(--default);
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  justify-content: space-between;
}

html,
body {
  background-color: var(--background-color);
}


section,
header {
  width: 60%;
  max-width: 60%;
}

header {
  margin-top: var(--header-height);
  height: auto;
}

section {
  padding: 64px 0px;
}

p {
  display: flex;
  margin: 0;
}

a {
  display: flex;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}
b {
  font-weight: bolder;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  text-align: inherit;
  color: var(--default);
}

img {
  display: flex;
  height: 100%;
  width: 100%;
}

.hide-scroll {
  overflow: hidden;
}

.scroll-to {
  scroll-margin-top: var(--header-height);
}

/*set up rows and columns for flexing*/
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrapper,
.wrapper-center,
.wrapper-middle {
  width: 100%;
}

.wrapper-middle {
  justify-content: center;
}

.wrapper-center {
  align-items: center;
}

.container {
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  justify-content: space-around;
}

.hide {
  display: none !important;
}

.nav-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--default);
  padding: 0px 100px 0px;
}

#navbar-responsive {
  display: none;
}

#dropdown-navbar {
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* White fallback color */
  background-color: rgba(255,255,255, 0.9); /* White w/opacity */
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

#dropdown-navbar-content {
  display:none;
  margin-top: var(--header-height);
  height: 60%;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.menu-left,
.menu-right {
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  justify-content: center;
  width: 100%;
  padding: 0px 50px 0px;
}

.page-title {
  justify-content: center;
  width: auto;
  padding: 0px 50px 0px;
  font-size: calc(48px - 48px * var(--text-adjust));
}

.section-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
}

.section-title::before,
.section-title::after {
  content: "";
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.section-title::after {
  margin: 0 0 0 20px;
}

.home,
.about {
  align-items: center;
  justify-content: center;
}

.about {
  height: calc(100vh - var(--header-height));
}

.home-info,
.about-info {
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
  width: 100%;
  flex-direction: row;
}

.home-text,
.about-text {
  justify-content: center;
  width: 50%;
}

.home-img,
.about-img {
  width: 30%;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-img img{
  width: 100%;
  max-width: 350px;
}

.about-img img{
  height: 70%;
}

.down-arrow {
  justify-content: center;
  height: 15%;
  background-color: transparent;
}

#down-arrow {
  padding-bottom: 20px;
}

.content {
  text-align: center;
  justify-content: center;
}

.contact-button,
.button-underline-animation,
.purple-button-underline-animation {
  height: 100%;
  width: auto;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
}

.button-underline-animation:before,
.purple-button-underline-animation:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--default);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-underline-animation:hover:before,
.purple-button-underline-animation:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.purple-button-underline-animation:before {
  background-color: var(--dark-purple);
}

.contact-button {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--background-color);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-timeline {
  display: flex;
}
.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--default);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  font-size: 25px;
  transition: all 0.3s ease;
}
.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--default);
  transition: width 0.3s ease;
}
.about-tabs .tab-item:hover::before {
  width: 100%;
}
.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--default);
}
.about-tabs .tab-item.active {
  color: var(--default);
  opacity: 1;
  cursor: auto;
}
.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0%;
  left: 5px;
  background-color: var(--purple);
  z-index: 0;
}
.tab-content {
  padding: 40px 0;
  display: none;
  width:fit-content;
  max-width: 60%;
}
.tab-content.active {
  display: flex;
}
.timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
  color: var(--default);
}
.timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--purple);
  left: 0;
  top: 16px;
  border-radius: 50%;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item .date {
  display: block;
  color: var(--default);
  font-weight: 400;
  margin: 0 0 10px;
}
.timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

/* Company grouping styles */
.timeline-header {
  margin-bottom: 0px;
  position: relative;
  padding: 10px 0 0 40px;
}
.timeline-header::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: var(--dark-purple);
  left: -1px;
  top: 16px;
  border-radius: 50%;
  border: 2px solid var(--background-color);
}
.timeline-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-purple);
  margin: 0;
}
.position-item {
  margin-bottom: 20px;
  position: relative;
  padding: 10px 0 0 60px;
  color: var(--default);
}
.position-item:last-child {
  margin-bottom: 0;
}
.position-item .date {
  display: block;
  color: var(--light-gray);
  font-weight: 400;
  font-size: 14px;
}
.position-item h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0;
  color: var(--default);
}

.timeline-group {
  padding-bottom:32px;
}

/* Job description styles */
.job-description {
  flex-direction: column;
}

.job-description ul {
  display:flex;
  flex-direction: column;
  margin-top:8px;
  margin-block-end: 0px;
  padding-left: 20px;
  list-style-type: disc;
}

.job-description li {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--light-gray);
}

.about-txt .timeline-item h4 span {
  font-weight: 400;
}
.about-timeline .btn {
  margin: 0 15px 15px 0;
}
.about-timeline {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:90%;
}

.project {
  background-color: transparent;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: inherit;
  overflow: hidden;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.overflow-container {
  overflow: hidden;
  clip-path: content-box;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.project-container{
  width: 100%;
  height: 45vh;
  max-height: 45vh;
  padding: 32px;
  background-color: transparent;
  margin: 0 auto;
  justify-content: center;
}

.other-project-container-row {
  height: 40vh;
  max-height: 40vh;
  justify-content: space-evenly;
}

.other-project-container {
  width: 33%;
  padding: 0 32px 0;
  justify-content: space-between;
}

.other-project-img-container {
  width:100%;
  height: 60%;
  justify-content: center;
}

.project-img {
  height: 100%;
  width:auto;
  max-width: 33%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.other-project-img {
  height: auto;
  width:100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.project-img-right {
  order: 1;
}

.project-img img {
  height: (--img-height);
  width: auto;
}

.other-project-txt {
  height: 40%;
  width: 100%;
  padding: 5% 10% 5%;
  justify-content: center;
  align-items: center;
}

.project-text {
  background-color: var(--background-color);
  z-index: 1;
  padding: 5% 10% 5%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.skills {
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  padding-right: 16px;
  padding-top: 12px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.zoomin img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.zoomin:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/*Contact form*/
/* Contact Section */
#contact {
  background-color: transparent;
}

#contact-form {
  width:100%;
  flex-direction: row;
  justify-content: center;
}

#contact-info {
  flex-direction: row;
}

.contact-form,
.contact-info {
  width: 100%;
  align-items: center;
  padding: 0% 10% 0% 10%;
}

.contact-info-item {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  color: var(--default);
}
.contact-info-item h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: var(--default);
}
.contact-info-item .social-links a {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--light-purple);
  border: 1px solid var(--dark-purple);
  color: var(--default);
  border-radius: 50%;
  margin: 6px 4px 0 0;
  transition: all 0.3s ease;
  font-size: 20px; /* add fontsize to icon __________________________*/
}
.contact-info-item .social-links a:hover {
  color: var(--default);
  background-color: var(--background-color);
}

/*Sizes*/
.tiny {
  font-size: calc(10px - 10px * var(--text-adjust));
}
.small {
  font-size: calc(12px - 12px * var(--text-adjust));
}
.medium {
  font-size: calc(15px - 15px * var(--text-adjust));
}
.large {
  font-size: calc(18px - 18px * var(--text-adjust));
}
.xlarge {
  font-size: calc(24px - 24px * var(--text-adjust));
}
.xxlarge {
  font-size: calc(36px - 36px * var(--text-adjust));
}
.xxxlarge {
  font-size: calc(48px - 48px * var(--text-adjust));
}
.jumbo {
  font-size: calc(64px - 64px * var(--text-adjust));
}

.circle {
  border-radius: 50%;
}
.round-small {
  border-radius: 2px;
}
.round,
.round-medium {
  border-radius: 4px;
}
.round-large {
  border-radius: 8px;
}
.round-xlarge {
  border-radius: 16px;
}
.round-xxlarge {
  border-radius: 32px;
}
.round-xxlarge-top {
  border-radius: 32px 32px 0px 0px;
}
.round-xxlarge-right {
  border-radius: 0px 32px 32px 0px;
}
.round-xxlarge-left {
  border-radius: 32px 0px 0px 32px;
}
.round-circle {
  border-radius: 50%;
}
.margin {
  margin: 16px;
}
.margin-bottom {
  margin-bottom: 16px;
}
.margin-left {
  margin-left: 16px;
}
.margin-right {
  margin-right: 16px;
}
.padding-small {
  padding: 4px 8px;
}
.padding {
  padding: 8px 16px;
}
.padding-right {
  padding-right: 16px;
}
.padding-right-32 {
  padding-right: 32px;
}
.padding-right-64 {
  padding-right: 64px;
}
.padding-left {
  padding-left: 16px;
}
.padding-left-32 {
  padding-left: 32px;
}
.padding-left-64 {
  padding-left: 64px;
}
.padding-large {
  padding: 12px 24px;
}
.padding-16 {
  padding: 16px 0px;
}
.padding-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.padding-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.padding-top-64 {
  padding-top: 64px;
}
.padding-top-48 {
  padding-top: 48px;
}
.padding-top-32 {
  padding-top: 32px;
}
.padding-top-24 {
  padding-top: 24px;
}
.padding-bottom-64 {
  padding-bottom: 64px;
}
.padding-bottom-48 {
  padding-bottom: 48px;
}
.padding-bottom-32 {
  padding-bottom: 32px;
}
.padding-bottom-24 {
  padding-bottom: 24px;
}
.left {
  float: left;
  float: center;
}
.right {
  float: right;
}
.float-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  line-height: 1.5;
  background-color: var(--light-purple);
  border: 1px solid var(--purple);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: var(--default);
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  scroll-behavior: smooth;
  transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--light-purple);
  z-index: -1;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: var(--background-color);
  z-index: 10;
}

.transparent,
.hover-none:hover {
  background-color: transparent;
}
.hover-none:hover {
  box-shadow: none;
}
.border {
  border: 1px solid #ccc;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.border-left {
  border-left: 1px solid #ccc;
}
.border-right {
  border-right: 1px solid #ccc;
}
.border-left-thick {
  border-left: 5px solid #ccc;
}
.border-right-thick {
  border-right: 5px solid #ccc;
}

/*colors*/
.dark-gray,
.hover-dark-gray:hover {
  color: #fff;
  background-color: #616161bc;
}
.gray {
  color: #fff;
  background-color: #616161bc;
}
.border-white {
  border-color: var(--background-color);
}
.border-gray {
  border-color: var(--gray);
}
.border-purple {
  border-color: var(--purple);
}
.black {
  color: #fff;
  background-color: black;
}
.white {
  background-color: var(--background-color);
}
.text-white {
  color: var(--background-color);
}
.text-black {
  color: var(--default);
}
.text-purple {
  color: var(--purple);
}

  /* PAGE LOADER */
  .page-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--background-color);
    backdrop-filter: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
  }
  .page-loader.fade-out {
    opacity: 0;
  }
  .page-loader div {
    border: 2px solid transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
  }

  .page-loader div:nth-child(1) {
    height: 60px;
    width: 60px;
    border-color: var(--light-purple);
  }
  .page-loader div:nth-child(2) {
    height: 45px;
    width: 45px;
    border-color: var(--purple);
    animation-duration: 1.2s;
  }
  .page-loader div:nth-child(3) {
    height: 30px;
    width: 30px;
    border-color: var(--dark-purple);
  }

/* RESPONSIVE LAYTOUT */
@media (max-width: 1750px) {
  section,
  header {
    width: 75%;
    max-width: 75%;
  }
}

@media (max-width: 1200px) {
  section,
  header {
    width: 100%;
    max-width: 100%;
  }

  .tab-content{
    max-width: 100%;
  }
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  :root {
    --text-adjust: 0.25;
  }
  section,
  header {
    width: 100%;
    max-width: 100%;
  }
  .home-info,
  .about-info  {
    flex-direction: column;
    align-items: center;
  }
  #about {
    height: auto;
    padding-top: 32px;
  }
  .about-info {
    height: auto;
  }
  .about-text {
    padding: 32px 12px 12px 12px;
    width: 100%;
    text-align: center;
  }
  .home-img,
  .about-img {
    width: 60%;
    height:auto;
    max-width: none;
    margin: 0;
  }
  .about-img img{
    height:auto;
  }
  .home-text {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 32px 0px 32px;
    order: 2;
  }
  .project-container {
    height: 50%;
    max-height: none;
  }
  .other-project-container-row {
    flex-direction:column;
    align-items: center;
    height:auto;
    max-height: none;
  }
  .other-project-container {
    padding: 32px;
    width:100%;
    justify-content: space-between;
  }
  .other-project-img-container {
    max-height: 40vh;
    width:100%;
    /* justify-content: space-between; */
  }
  .project {
    flex-direction: column;
    height: max-content;
  }
  .project-img {
    max-width: none;
    width: 100%;
    max-height: 40vh;
    height:auto;
    order: 0;
  }
  .project-img img{
    width: 100%;
    height:auto;
  }
  .project-text {
    height:auto;
  }
  #contact {
    padding:32px 0px 0px 0px;
  }
  #contact-info {
    padding-top:32px;
  }
  #contact-form {
    flex-direction: column;
  }
  .contact-info-item {
    align-items: center;
    justify-content: center;
  }

  /* Company grouping responsive styles */
  .timeline-header {
    padding: 8px 0 0 30px;
  }
  .timeline-header::before {
    left: -1px;
    height: 11px;
    width: 11px;
  }
  .timeline-title {
    font-size: 18px;
  }
  .position-item {
    padding: 8px 0 0 50px;
  }
  .position-item::before {
    left: 15px;
    height: 8px;
    width: 8px;
  }
  .timeline-group::after {
    left: 20px;
    top: 50px;
    height: calc(100% - 50px);
  }
}

/* NAVBAR RESPONVSIVE */
@media (max-width: 767px) {
  :root {
    --header-height: 50px;
  }
  .navbar {
    padding: 0px;
  }
  .menu-right {
    display: none;
  }
  #navbar-responsive {
    display: flex;
    align-items: center;
    padding: 0px 50px 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}