{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header id="about" class="about column">
  <div class="about-info">
    <div class="about-img">
      <img
        src="/static/images/About_Pic.jpg"
        alt="Mountains"
      />
    </div>

    <div class="about-text column padding-right-64 padding-left-64">
      <h3 class="xxlarge">About Me</h3>
      <p class="large" style="display: inline">
        I grew up in New Hampshire and then moved to Pennsylvania where I earned my bachelor's degree in physics from Haverford College and a master's degree in mechanical engineering from the University of Pennsylvania.
        <br /><br />
        I am passionate about mechatronics and creating products that improve lives.
        <br /><br />
        Additionally, I enjoy developing my woodworking hobby, skiing, backpacking, playing the bagpipes and ice hockey.
        <br /><br />
        I am currently working at
        <a
          href="https://picklerobot.com/"
          class="purple-button-underline-animation"
          style="display: inline-flex; padding: 0; height: auto"
        >
          <b class="text-purple large">Pickle Robot Company</b>
        </a>
        making robots to unload shipping containers and trucks.
      </p>
    </div>
  </div>

  <div class="down-arrow">
    <a href="#timeline" id="down-arrow"> </a>
  </div>
</header>
<!-- Header End -->

<!-- TIMELINE -->
<div id="timeline" class="about-timeline scroll-to">
  <div class="about-tabs">
    <button type="button" class="tab-item active" data-target="#experience">
      experience
    </button>
    <button type="button" class="tab-item" data-target="#education">
      education
    </button>
  </div>

  <!-- EXPERIENCE START -->
  <div id="experience" class="tab-content active">
    <div class="timeline column">
      <div class="timeline-item column">
        <span class="date">Nov 2022 - Present</span>
        <h4>Mechatronics Engineer</h4>
        <p>Pickle Robot Company</p>
      </div>
      <div class="timeline-item column">
        <span class="date">Jan 2021 - August 2022</span>
        <h4>Mechatronics Engineer</h4>
        <p>Altrumed</p>
      </div>
      <div class="timeline-item column">
        <span class="date">June 2021 - Aug 2021</span>
        <h4>Mechanical Engineer Intern</h4>
        <p>DEKA Research & Development</p>
      </div>
      <div class="timeline-item column">
        <span class="date">June 2020 - Aug 2020</span>
        <h4>Manufacturing Engineer Intern</h4>
        <p>DEKA Research & Development</p>
      </div>
    </div>
  </div>
  <!-- EXPERIENCE END -->

  <!-- Education START -->
  <div id="education" class="tab-content">
    <div class="timeline column">
      <div class="timeline-item column">
        <span class="date">Sept 2020 - May 2022</span>
        <h4>MSE in Mechanical Engineering</h4>
        <i>Concentration in mechatronics</i>
        <p>University of Pennsylvania</p>
      </div>
      <div class="timeline-item column">
        <span class="date">Sept 2017 - May 2021</span>
        <h4>BS in Physics</h4>
        <i>Minor in German</i>
        <p>Haverford College</p>
      </div>
    </div>
  </div>
  <!-- Education END -->

</div>
<!-- TIMELINE END-->
<script src="/static/js/about.js"></script>
{% endblock %}
