{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header id="about" class="about column">
  <div class="about-info">
    <div class="about-img">
      <img
        src="/static/images/About_Pic.jpg"
        alt="Mountains"
      />
    </div>

    <div class="about-text column padding-right-64 padding-left-64">
      <h3 class="xxlarge">About Me</h3>
      <p class="large" style="display: inline">
        I grew up in New Hampshire and then moved to Pennsylvania where I earned my bachelor's degree in physics from Haverford College and a master's degree in mechanical engineering from the University of Pennsylvania.
        <br /><br />
        I am passionate about mechatronics and creating products that improve lives.
        <br /><br />
        Additionally, I enjoy developing my woodworking hobby, skiing, backpacking, playing the bagpipes and ice hockey.
        <br /><br />
        I am currently working at
        <a
          href="{{ url_for('pickle') }}"
          class="purple-button-underline-animation"
          style="display: inline-flex; padding: 0; height: auto"
        >
          <b class="text-purple large">Pickle Robot Company</b>
        </a>
        making robots to unload shipping containers and trucks.
      </p>
    </div>
  </div>

  <div class="down-arrow">
    <a href="#timeline" id="down-arrow"> </a>
  </div>
</header>
<!-- Header End -->

<!-- TIMELINE -->
<div id="timeline" class="about-timeline scroll-to">
  <div class="about-tabs">
    <button type="button" class="tab-item active" data-target="#experience">
      experience
    </button>
    <button type="button" class="tab-item" data-target="#education">
      education
    </button>
  </div>

  <!-- EXPERIENCE START -->
  <div id="experience" class="tab-content active">
    <div class="timeline column">
      <div class="timeline-group column">
        <div class="timeline-header timeline-item column">
          <h3 class="timeline-title">Pickle Robot Company</h3>
        </div>
        <div class="position-item column">
          <h4>Electrical Engineer IV</h4>
            <span class="date" id="current-position-date"></span>
            <div class="job-description">
              <ul class="description-full">
                <li>Designed test bed platform for Gen2 robot system with 3 control panels and custom PCBs under compressed timeline</li>
                <li>Built <i>novel</i> 2D Lidar based safety system for acheiving functional safety via human presence detection</li>
              </ul>
            </div>
        </div>
        <div class="position-item column">
          <h4>Electrical Engineer</h4>
          <span class="date">Mar 2025 - Sep 2025 · 7 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Led conveyor protection solution from root cause analysis, design, and testing, preventing damage through hardware controller improvements</li>
              <li>Customized Kuka robot firmware for being able to run kuka robot arm without teach pendant attached</li>
              <li>Led cross-functional debugging efforts for motor controllers, sensors, and communication systems</li>
            </ul>
          </div>
        </div>
        <div class="position-item column">
          <h4>Junior Member of Technical Staff+</h4>
          <span class="date">Feb 2024 - Mar 2025 · 1 yr 2 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Designed Gen1 electrical system with custom PCBs, reducing build cost from $5600 to $500-1000 (10x improvement)</li>
              <li>Implemented single 480V power input system, saving customers $20k in electrical installation costs</li>
              <li>Developed custom microcontroller for gripper with bare metal IO-Link protocol implementation, saving $20k in licensing costs</li>
              <li>Developed networking infrastructure and configured industrial Ethernet protocols for robot communication systems</li>
              <li>Owned robots PLC program, including creating a Linux command line tool for remote PLC deployment by reverse engineering 3rd party protocol, eliminating need for onsite Windows-based updates</li>
              <li>Created comprehensive troubleshooting documentation and debugging tools for deployment engineers</li>
            </ul>
          </div>
        </div>
        <div class="position-item column">
          <h4>Junior Member of Technical Staff</h4>
          <span class="date">Nov 2022 - Feb 2024 · 1 yr 4 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Sole designer of Gen0 electrical system, achieving full production deployment within 6 months of hire</li>
              <li>Designed safety-compliant electrical cabinets with zero field failures across all deployed Gen0 robots</li>
              <li>Established contract manufacturing partnership and created detailed production documentation</li>
            </ul>
          </div>
        </div>
        </div>

        <div class="timeline-group column">
        <div class="timeline-header timeline-item column">
          <h3 class="timeline-title">Altrumed</h3>
        </div>
        <div class="position-item column">
          <h4>Mechatronics Engineer</h4>
          <span class="date">Jan 2021 - Aug 2022 · 1 yr 8 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Developing only wearable opioid harm prevention device, capable of both sensing and reversing an overdose by auto injecting lifesaving naloxone</li>
              <li>Designed the electromechanical system, including PCB design and verification, CAD, and embedded software, to sense blood oxygen levels non-invasively from the shoulder</li>
              <li>Prepare novel medical device for FDA clearance pathways and clinical studies to bring device to market </li>
              <li>Team awarded Coulter Grant for promising innovation in health care to meet underserved clinical needs</li>
            </ul>
          </div>
        </div>
        </div>

        <div class="timeline-group column">
        <div class="timeline-header timeline-item column">
          <h3 class="timeline-title">DEKA Research & Development</h3>
        </div>
        <div class="position-item column">
          <h4>Mechanical Engineer Intern</h4>
          <span class="date">Jun 2021 - Aug 2021 · 3 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Completed design changes using free body force analyses and tolerance analyses on integral parts of biomedical device to ensure safety and aid assembly, resulting in projected $100,000 annual savings</li>
              <li>Created test fixtures and aided test engineers in determining design limits to validate new parts</li>
              <li>Produced complex three-dimensional statistical tolerance analyses via CETOL</li>
            </ul>
          </div>
        </div>
        <div class="position-item column">
          <h4>Manufacturing Engineer Intern</h4>
          <span class="date">Jun 2020 - Aug 2020 · 3 mos</span>
          <div class="job-description">
            <ul class="description-full">
              <li>Collaborated with team to conceive design changes, assemble, streamline production, and develop operating procedures for biomedical devices.</li>
              <li>Designed and implemented assembly fixtures using Solidworks to manufacture biomedical devices on large scale and communicated with mechanics to assure manufacturable designs.</li>
              <li>Conducted force analysis on four body linkages to determine maximum allowable stress on safety mechanism.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPERIENCE END -->

  <!-- Education START -->
  <div id="education" class="tab-content">
    <div class="timeline column">
      <div class="timeline-group column">
      <div class="timeline-header timeline-item column">
        <h3 class="timeline-title">University of Pennsylvania</h3>
      </div>
      <div class="position-item column">
        <h4>MSE in Mechanical Engineering</h4>
        <span class="date">Sept 2020 - May 2022 · 1 yr 9 mos</span>
        <i>Concentration in mechatronics</i>
      </div>
      </div>

      <div class="timeline-group column">
      <div class="timeline-header timeline-item column">
        <h3 class="timeline-title">Haverford College</h3>
      </div>
      <div class="position-item column">
        <h4>BS in Physics</h4>
        <span class="date">Sept 2017 - May 2021 · 3 yr 9 mos</span>
        <i>Minor in German</i>
      </div>
      </div>
    </div>
  </div>
  <!-- Education END -->

</div>
<!-- TIMELINE END-->
<script src="/static/js/about.js"></script>
{% endblock %}
