{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header id="about" class="about column">
  <div class="about-info row">
    <div class="about-img">
      <img
        src="/static/images/About_Pic.jpg"
        alt="Mountains"
      />
    </div>

    <div class="about-text column padding-right-64 padding-left-64">
      <h3 class="xxlarge">About Me</h3>
      <p class="large text-black">
        I grew up in New Hampshire and then moved to Pennsylvania where I earned my bachelor's degree in physics from Haverford College and a master's degree in mechanical engineering from the University of Pennsylvania.
        <br /><br />
        I am passionate about mechatronics and creating products that improve lives.
        <br /><br />
        Additionally, I enjoy developing my woodworking hobby, skiing, backpacking, and playing ice hockey. I can also play the bagpipes, which is great for my annoying my 3 older siblings.
      </p>
      <!-- TODO: ADD Krypto -->
      <!-- <h3 class="xxlarge">Fun Stuff</h3>
      <p class="xlarge text-black" style="display: inline-block">
        This entire website is an excuse to host my favorite game,
        <a
          href="{{ url_for('krypto') }}"
          class="purple-button-underline-animation"
          style="display: inline-flex; height: auto"
        >
          <b class="text-purple">KRYPTO,</b>
        </a>
        play me!
      </p> -->
    </div>
  </div>

  <div class="down-arrow">
    <a href="#timeline" id="down-arrow"> </a>
  </div>
</header>
<!-- Header End -->

<!-- TIMELINE -->
<div id="timeline" class="about-timeline">
  <div class="about-tabs">
    <button type="button" class="tab-item active" data-target="#education">
      education
    </button>
    <button type="button" class="tab-item" data-target="#experience">
      experience
    </button>
  </div>

  <!-- Education START -->
  <div id="education" class="tab-content active">
    <div class="timeline column">
      <div class="timeline-item column">
        <span class="date">Sept 2020 - May 2022</span>
        <h4>MSE in Mechanical Engineering</h4>
        <i>Concentration in mechatronics</i>
        <p>University of Pennsylvania</p>
      </div>
      <div class="timeline-item column">
        <span class="date">Sept 2017 - May 2021</span>
        <h4>BS in Physics</h4>
        <i>Minor in German</i>
        <p>Haverford College</p>
      </div>
    </div>
  </div>
  <!-- Education END -->
  <!-- EXPERIENCE START -->
  <div id="experience" class="tab-content">
    <div class="timeline column">
      <div class="timeline-item column">
        <span class="date">Jan 2021 - Present</span>
        <h4>Engineer</h4>
        <p>Altrumed</p>
      </div>
      <div class="timeline-item column">
        <span class="date">June 2021 - Aug 2021</span>
        <h4>Mechanical Engineer Intern</h4>
        <p>DEKA Research & Development</p>
      </div>
      <div class="timeline-item column">
        <span class="date">June 2020 - Aug 2020</span>
        <h4>Manufacturing Engineer Intern</h4>
        <p>DEKA Research & Development</p>
      </div>
    </div>
  </div>
</div>
<!-- EXPERIENCE END -->
<!-- TIMELINE END-->
<script src="/static/js/about.js"></script>
{% endblock %}
