<!DOCTYPE html>
<html lang="en;">
  <head>
    <title>Ethan Donlon</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="static/images/icon" href="favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="column wrapper-center">
    <!-- PAGE LOADER START -->
      <div class="page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- PAGE LOADER END -->
    <!-- Navbar (sit on top) -->
    <div class="nav-parent">
      <div class="navbar row">
        <div class="menu-left medium">
          <div class="menu-btn">
            <a
              href="{{ url_for('index') }}"
              class="button-underline-animation"
            >
              Ethan Donlon
            </a>
          </div>
        </div>

        <!-- Float links to the right. Hide them on small screens -->
        <div class="menu-right medium">
          <div class="menu-btn">
            <a
              href="{{ url_for('index') }}#portfolio"
              class="button-underline-animation"
              >Portfolio</a
            >
          </div>
          <div class="menu-btn">
            <a href="{{ url_for('about') }}" class="button-underline-animation"
              >About</a
            >
          </div>
          <div class="menu-btn">
            <a href="#contact" class="button-underline-animation">Contact</a>
          </div>
        </div>
        <div id="navbar-responsive">
          <a href="javascript:void(0);" onclick="navBar_pressed()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="dropdown-navbar">
      <div id="dropdown-navbar-content">
        <div class="menu-btn">
          <a href="{{ url_for('index') }}#portfolio" class="button-underline-animation" onclick="navBar_pressed()">Portfolio</a>
        </div>
        <div class="menu-btn">
          <a href="{{ url_for('about') }}" class="button-underline-animation" onclick="navBar_pressed()">About</a>
        </div>
        <div class="menu-btn">
          <a href="#contact" class="button-underline-animation" onclick="navBar_pressed()">Contact</a>
        </div>
      </div>
    </div>


    <!-- HERE COMES REST OF CONTENT -->
    {% block content %}
    {% endblock %}

    <!-- MACRO TO BE USED FOR CREATING SLIDES ON PROJECT PAGES -->
    {% macro slides(imgs) -%}

    <div class="project-slideshow column padding-top-64">
      <div class="wrapper-center row" style="justify-content: space-evenly">
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <div class="slideshow-container round-xxlarge column">
          {% for img in imgs %}

          <div class="img-slides row">
              {% if img|length > 2 %}
              <div class="img-container embedded-video" onclick="lightbox_open('{{img[2]}}')">
                  <img src="{{img[0]}}" />
                  <div class="play-button">
                      <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px"
                      viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                      <path class="stroke-solid" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                        C97.3,23.7,75.7,2.3,49.9,2.5"/>
                      <path class="stroke-dotted" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                        C97.3,23.7,75.7,2.3,49.9,2.5"/>
                      <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
                      </svg>
                  </div>
              </div>
              {% else %}
              <div class="img-container">
                  <img src="{{img[0]}}" onclick="enlargeImage(this)" />
                  <div class="video-popup">
                    <div class="popup-img-container">
                      <img src="{{img[0]}}" />
                      <div class="close-btn" onclick="closeImage()">&times;</div>
                    </div>
                  </div>
              </div>
              {% endif %}
              <h3 class="text xlarge">{{img[1]}}</h3>
          </div>
          {% endfor %}
        </div>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
      <div class="dot-container padding-top-32">
        {% for i in range(1, imgs|length +1) %}
        <span class="dot" onclick="currentSlide({{ i }})"></span>
        {% endfor %}
      </div>
    </div>

    {% endmacro %}

    <!-- Contact form -->
    <section id="contact" class="column float-center padding-32">
      <h2 class="padding-bottom-24">Contact Me</h2>
      <div id="contact-info">
        <div class="column contact-info-item">
          <h3>Email</h3>
          <p>ethan.donlon@gmail.com</p>
        </div>
        <div class="column contact-info-item">
          <h3>Location</h3>
          <p>Boston, MA</p>
        </div>
      </div>
      <div class="contact-info-item">
        <!-- <h3>Socials</h3> -->
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/ethan-donlon"
            target="_blank"
          >
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a
            download=""
            href="static/pdf/Ethan-Donlon-Resume.pdf"
            target="_blank"
          >
            <i class="uil uil-file-alt"></i>
          </a>
          <a href="https://github.com/elidonner" target="_blank">
            <i class="uil uil-github-alt"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- Contact form -->
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
  <script src="/static/js/script.js"></script>
</html>