{% extends 'base.html' %} {% block content %}

<!-- Header -->
<section id="home" class="home column">
  <div class="home-info row">

    <div class="home-text column padding-right-64 padding-left-64">
      <p class="xlarge text-black">Hi, my name is</p>
      <h1 class="xxxlarge text-black">Ethan Donlon</h1>
      <p class="xlarge text-black">
        I love learning new things.
      </p>
    </div>
    
    <a href="{{ url_for('about') }}" class="home-img-wrapper">
      <div id = 'profile_pic' class="round-circle home-img zoomin">
        <img src="/static/images/EthanPhoto.png" alt="Profile-Pic" />
      </div>
    </a>

  </div>

  <div class = "down-arrow">
    <a href="#portfolio" id="down-arrow"> </a>
  </div>

</section>
<!-- Header end -->

<!-- Portfolio -->
<section id="portfolio" class="column padding-64">
  <div class="project-container">
    <a href="dove.html" class="row project zoomin round-xxlarge">
      <div class="project-img">
        <img src="/static/images/Arm-Sensor.jpg" alt="arm-sensor" />
      </div>
      <div class="project-text column">
        <h1>Dove</h1>
        <p class="xlarge text-black">
          Creating the first wearable autoinjector capable of sensing an opioid
          overdose and delivering life-saving naloxone.
        </p>
      </div>
    </a>
  </div>

  <div class="project-container">
    <a href="dove.html" class="row project zoomin round-xxlarge">
      <div class="project-text column">
        <h1>Ollie</h1>
        <p class="xlarge text-black">
          An animatronic puppet for a museum in Philadelphia, featuring person
          tracking and smart interactions.
        </p>
      </div>
      <div class="project-img">
        <img src="/static/images/Ollie.jpg" alt="Ollie" />
      </div>
    </a>
  </div>

  <div class="project-container">
    <a href="dove.html" class="row project zoomin round-xxlarge">
      <div class="project-img">
        <img src="/static/images/Arm-Sensor.jpg" alt="arm-sensor" />
      </div>
      <div class="project-text column">
        <h1>DEKA</h1>
        <p class="xlarge text-black">
          Developing a class III medical device for FDA clearance.
        </p>
      </div>
    </a>
  </div>

  <div class="project-container">
    <a href="dove.html" class="row project zoomin round-xxlarge">
      <div class="project-text column">
        <h1>Nanowires</h1>
        <p class="xlarge text-black">
          Studied self-assembling nanowires by converting an atomic force
          microscope to a Kelvin probe force microscope.
        </p>
      </div>
      <div class="project-img">
        <img src="/static/images/Microscope.jpg" alt="arm-sensor" />
      </div>
    </a>
  </div>
</section>
<!-- Portfolio end -->

{% endblock %}