{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header id="home" class="about column">
  <div class="home-info">
    <div class="home-text column padding-right-64 padding-left-64">
      <p class="xlarge text-black">Hello, my name is</p>
      <h1 class="xxxlarge text-black">Ethan Donlon</h1>
    </div>

    <a href="{{ url_for('about') }}" id="profile_pic" class="round-circle home-img zoomin">
      <div class="overflow-container" style="border-radius:50%;">
        <img src="/static/images/EthanPhoto.png" alt="Profile-Pic" />
      </div>
    </a>
  </div>

  <div class="down-arrow">
    <a href="#portfolio" id="down-arrow"> </a>
  </div>
</header>
<!-- Header end -->

<!-- Portfolio -->

<!-- FEATURED PROJECTS -->

<!-- CARDS -->
<section id="portfolio" class="column float-center">
  <h1 class="xxx-large section-title">Featured Work</h1>
  {% macro project(title, img, img_title, description, skills=[]) -%}
  <div class="project-container" id="{{title}}">
    <a href="{{ url_for(title) }}" class="row project zoomin round-xxlarge">
      <div class="overflow-container round-xxlarge">
        <div class="project-img">
          <img src="{{ img }}" alt="{{ img_title }}" />
        </div>
        <div class="project-text column">
          <h1>{{ title }}</h1>
          <p class="xlarge text-black">{{ description }}</p>
          <div class="skills medium text-black">
            {% for skill in skills %}
            <p class="skill">{{ skill }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endmacro %} 
  {{ project(
    'Dove',
    '/static/images/Dove/Arm-Sensor.jpg',
    'Arm-Sensor',
    'Creating the first wearable autoinjector capable of sensing an opioid overdose and delivering life-saving naloxone.',
    ['PCB-Design','C++','Rapid-Prototyping']) 
  }} 
  {{ project(
    'Ollie',
    '/static/images/Ollie/Ollie.jpg',
    'ollie',
    'An animatronic puppet for the Fabric Museum and Workshop, featuring person-detection and much more.',
    ['Microcontrollers','Machine Learning','Mechanical-Design']
    ) 
  }}
  {{ project(
    'DEKA',
    '/static/images/Deka/Luke-Arm.jpg',
    'deka',
    'Developing a class III medical device for FDA clearance.',['Solidworks','Tolerance Analysis','Part-Design','GD&T']
    )
  }}
</section>
<!-- END FEATURED WORK  -->

<!-- OTHER PROJECTS -->
<!-- TODO: Add other-projects -->
<!-- <section id="other-projects" class="column float-center">
  <h1 class="xxx-large section-title">Other Projects</h1>

  {% macro otherproject(name, img, img_title) %}
  <div class="other-project-container">
    <a href="dove.html" class="column project zoomin round-xxlarge">
      <div class="other-project-img">
        <img src="{{ img }}" alt="{{ img_title }}" />
      </div>
      <div class="other-project-text column">
        <h3>{{ name }}</h3>
      </div>
    </a>
  </div>
  {% endmacro %}

  <div class="other-project-container-row">
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }} 
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }} 
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }}
  </div>
  <div class="other-project-container-row">
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }} 
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }} 
    {{ otherproject('Nanowires', '/static/images/Microscope.jpg', 'microscope') }}
  </div>
  
</section> -->
<!-- END OTHER PROJECTS -->
<script src="/static/js/index.js"></script>
{% endblock %}
