{% extends '/projects/krypto/krypto-base.html' %} {% block content %}

<!-- Game Board -->
<div id="gameboard" class="one-pager column" style="display:flex">

    <div class="row" style="height:25%;">

      <div class = "box" >
        <div id = "scoreboard">
          <div id="user1" class="user left popup">
            <span id="popup1" class="popuptext" >Krypto!</span>
            <div class="userName"></div>
            <div class="points"></div>
          </div>
          <div id="user2" class="user right popup">
            <span id="popup2" class="popuptext">Krypto!</span>
            <div class="userName"></div>
            <div class="points"></div>
          </div>
        </div>
      </div>


      <div id="target-cell">
        <div id="target" class="card">
          Target
        </div>
      </div>


      <div class = "box" style="justify-content: center;">
        <div id = "timer" style="display:none">
          <div class="base-timer">
            <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g class="base-timer__circle">
                <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
                <path
                  id="base-timer-path-remaining"
                  stroke-dasharray="283"
                  class="base-timer__path-remaining green"
                  d="
                    M 50, 50
                    m -45, 0
                    a 45,45 0 1,0 90,0
                    a 45,45 0 1,0 -90,0
                  "
                ></path>
              </g>
            </svg>
            <span id="base-timer-label" class="base-timer__label">0:20
            </span>
          </div>
        </div>
      </div>


    </div>

    <div id = cardsContainer class="row" style="height:35%; padding:0px 50px">
      <div class = cardContainer>
        <div class="card"></div>
      </div>
      <div class = cardContainer>
        <div class="card"></div>
      </div>
      <div class = cardContainer>
        <div class="card"></div>
      </div>
      <div class = cardContainer>
        <div class="card"></div>
      </div>
      <div class = cardContainer>
        <div class="card"></div>
      </div>
    </div>

    <div class="row" style="height:20%; padding:20px 0px">
      <div id="plus" class="button operation">+</div>
      <div id="minus" class="button operation">-</div>
      <div id="multiply" class="button operation">×</div>
      <div id="divide" class="button operation">÷</div>
    </div>

    <div class="row" style="height:20%; padding:20px 50px">

      <button id = "deal_cards" class="button">Deal Cards</button>

      <div id="computer_krypto" class="krypto_container">
        <button id = krypto_btn class="button krypto">KRYPTO</button>
      </div>

      <div id = actions style = "display: none;">
        <div class="action_container">
          <button id="undo" class="button action">undo</button>
        </div>
        <div class="action_container">
          <button id="reset" class="button action">reset</button>
        </div>
        <div id="give_up" class="action_container action" style = "display:none">
          <button class="button" >give up</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}