<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Krypto</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="static/images/icon" href="favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/krypto.css" />
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
  </head>


  <body id="body" class="column wrapper-center">

    <!-- PAGE LOADER START -->
    <div class="page-loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- PAGE LOADER END -->

    <!-- SOLUTION MENU-->
    <div id="solution" class = "overlay column">
    <div class = "overlay2 column">
      <h1 class="solutionTitle">Solution</h1>
      <div id="step1" class = "solutionCardsContainer row">
        <div class="solutionCard selected"></div>
        <div class="solutionOperation"></div>
        <div class="solutionCard selected"></div>
        <div class="solutionCard"></div>
        <div class="solutionCard"></div>
        <div class="solutionCard"></div>
      </div>
      <div id="step2" class = "solutionCardsContainer row">
        <div class="solutionCard selected" ></div>
        <div class="solutionOperation"></div>
        <div class="solutionCard selected"></div>
        <div class="solutionCard"></div>
        <div class="solutionCard"></div>
      </div>
      <div id="step3" class = "solutionCardsContainer row">
        <div class="solutionCard selected"></div>
        <div class="solutionOperation"></div>
        <div class="solutionCard selected"></div>
        <div class="solutionCard"></div>
      </div>
      <div id="step4" class = "solutionCardsContainer row">
        <div class="solutionCard selected"></div>
        <div class="solutionOperation"></div>
        <div class="solutionCard selected"></div>
      </div>
      <div id="step5" class = "solutionCardsContainer row">
        <div class="solutionCard selected"></div>
      </div>
    </div>
  </div>
  <!-- SOLUTION MENU END-->

  <!-- INSTRUCTIONS MENU-->
  <div id="instructions_menu" class = "overlaytop">
    <div class="overlaytop-content">
      <p class="xxlarge text-white">Add subtract or multiply the five cards shown to get the target card!
      <br></br>
      No fractions or negative numbers!</p>
    </div>
    <a id="closebtn" href="javascript:void(0)">&times;</a>
  </div>
  <!-- INSTRUCTIONS MENU END-->

  <!-- DIFFICULTY MENU-->
  <div id="difficulty_menu" class = "overlay column">
    <div id="difficulty_container">
      <div class = "difficulty" style="height:33.3%">
        <button id="easy" class = "column button">
          <div class="mode_type">BEGINNER</div>
          <div class="mode_description">Cards numbered 1-10</div>
        </button>
      </div>
      <div class = "difficulty" style="height:33.3%">
        <button id="medium" class = "column button">
          <div class="mode_type">NOVICE</div>
          <div class="mode_description">Cards numbered 1-17</div>
        </button>
      </div>
      <div class = "difficulty" style="height:33.4%">
        <button id="hard" class = "column button">
          <div class="mode_type">STANDARD</div>
          <div class="mode_description">Cards numbered 18-25</div>
        </button>
      </div>
    </div>
  </div>
  <!-- DIFFICULTY MENU END-->

    <!-- HERE COMES REST OF CONTENT -->
    {% block content %}
    {% endblock %}

  </body>
  <script src="/static/js/script.js"></script>
  <script  type="module" src="/static/js/krypto.js"></script>
</html>