{% extends '/projects/krypto/krypto-base.html' %} {% block content %}

<!-- NAVBAR -->
<div class="nav-parent">
  <div class="navbar row">
    <div class="menu-left" style="display:none">
      <button id="menu_btn" class = "button medium">Menu</button>
    </div>
    <div class="menu-left" style="display:flex">
      <a  href="{{ url_for('index') }}">
        <button id="website_btn" class = "button xlarge">
          Main Site
        </button>
      </a>
    </div>

    <div class="page-title">
      Krypto!
    </div>

    <div class="instructions">
      <div id="instructions" class="button">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
          <g>
            <rect x="10.75" y="15.75" width="2.5" height="2.5" fill="#000000"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8C10.8048 8 10 9.08576 10 10H8C8 8.19752 9.49569 6 12 6C14.4955 6 16 8.14203 16 10C16 11.5781 14.8917 12.3782 14.2062 12.8732C14.1659 12.9023 14.1271 12.9303 14.09 12.9574C13.3354 13.5088 13 13.8231 13 14.5H11C11 12.7382 12.1612 11.8897 12.9067 11.345L12.91 11.3426C13.7425 10.7343 14 10.5038 14 10C14 9.0498 13.2039 8 12 8Z" fill="#000000"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<div id="dropdown-navbar">
  <div id="dropdown-navbar-content">
    <div class="menu-btn">
      <a href="{{ url_for('index') }}#portfolio" class="button-underline-animation" onclick="navBar_pressed()">Portfolio</a>
    </div>
    <div class="menu-btn">
      <a href="{{ url_for('about') }}" class="button-underline-animation" onclick="navBar_pressed()">About</a>
    </div>
    <div class="menu-btn">
      <a href="#contact" class="button-underline-animation" onclick="navBar_pressed()">Contact</a>
    </div>
  </div>
</div>
<!-- NAVBAR END-->


<!-- Menu Page -->
<div id = "menu" class="one-pager column">

  <div class="welcome_msg">
    Welcome to krypto! Please select a game mode from the options below!
  </div>

  <div class = "mode_container">
    <a id="practice" class = "column button" href="{{ url_for('Krypto_practice') }}">
      <div class="mode_type">PRACTICE</div>
      <div class="mode_description">No time limit. Play at your own pace!</div>
    </a>
  </div>
  <div class = "mode_container">
    <a id="computer" class = "column button" href="{{ url_for('Krypto_computer') }}">
      <div class="mode_type">Play the Computer</div>
      <div class="mode_description">See if you can beat the computer!</div>
    </a>
  </div>
  <div class = "mode_container">
    <a id="versus" class = "column button" href="{{ url_for('Krypto_friend') }}">
      <div class="mode_type">Play a Friend</div>
      <div class="mode_description">Challenge your friend to see who can get the most points!</div>
    </a>
  </div>

</div>
{% endblock %}